body
{
  background: #eee;
}

.main-content
{
  background: #FFF;
  padding: 2rem;
}

.preview-post, .post
{
  a
  {
    color: #333;

    &.read-more
    {
      color: #00d1b2;
    }
  }
}

.preview-post
{
  border-bottom: 1px solid #999;
  padding-bottom: 1rem;
  margin-bottom: 2rem;
}

p {
  margin: 0.5rem 0 3rem;
}